#c1{

background: #191970;

padding: 10px;




}
#c2{


background:#008B8B;
padding: 210px;
color: #fff;

margin-top: -100px;
margin-right: 210px;
margin-bottom: -100px;

}

#c3{
padding: 50px;
margin-left: 150px;
    margin-top: 182px;

}
#c4{

padding: 50px;
margin-left: 150px;
margin-top: -50px;


}
#c5{

background: #008B8B;
padding: 180px;
color: #fff;


}
#c6{

margin-left: 50px;

}
body{
   
	font-family:'Arial' ;
}
#c7{

	background: #2F4F4F;
	padding: 65px;
	margin-top: 30px;

}
#c8{

	background: #191970;
	padding: 20px;

}